<div
  style="
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #252525;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
  "
>
  <div style="text-align: center">
    <img
      src="{{imagenEmail}}"
      alt="CMAR Multimedia"
      style="text-align: center; width: 100px"
    />
  </div>
  <h3>Su acceso a CMAR LIVE ha sido extendido</h3>
  <p>Hola, {{nombre}}</p>
  <p>
    Le informamos que su acceso a <b>CMAR LIVE</b> ha sido extendido hasta el
    <b>{{fechaExtension}}</b>.
  </p>

  <div>
    <p>
      Para acceder a la plataforma, debe ingresar con su
      <b>usuario y contraseña</b> ya configurados anteriormente.
    </p>

    <p>
      Si tiene algún problema para acceder, puede ingresar a la plataforma
      mediante el siguiente enlace:
    </p>

    <div
      title="Acceder a CMAR LIVE"
      style="text-align: center; margin: 24px 0 40px 0; padding: 0"
    >
      <a
        href="https://cmar.live"
        style="
          display: inline-block;
          margin: 0 auto;
          min-width: 180px;
          line-height: 28px;
          border-radius: 22px;
          padding: 8px 16px 7px 16px;
          vertical-align: middle;
          background-color: #0072de;
          color: #fff;
          box-sizing: border-box;
          text-align: center;
          text-decoration: none;
          font-family: Arial, Helvetica, 'sans-serif';
          font-weight: normal;
          word-wrap: break-word;
          word-break: break-all;
        "
        target="_blank"
      >
        Acceder a CMAR LIVE
      </a>
    </div>

    <p>
      Recuerde que estas credenciales son personales, para uso único y exclusivo
      del beneficiario solicitante; si notamos un uso inadecuado de la cuenta
      aprobada, nos veremos en la necesidad de cancelar su acceso a la
      plataforma indefinidamente.
    </p>
    <p
      style="
        margin: 30px 0 12px 0;
        padding: 0;
        color: #252525;
        font-family: Arial, Helvetica, 'sans-serif';
        font-weight: normal;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 12px;
        line-height: 16px;
        color: #909090;
      "
    >
      Nota: No responda a este correo electrónico. Si tiene algún problema, por
      favor comuníquese al email
      <a href="mailto:recepcion@ootspr.org">recepcion@ootspr.org</a> o al
      WhatsApp:
      <a href="https://wa.me/17872161766" target="_blank"
        ><b>+1 (787) 216-1766</b></a
      >
    </p>

    <br />
    Cordialmente,<br />
    <b>Congregación Mita, Inc.</b>
  </div>
</div>
