<div
  style="
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #252525;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
  "
>
  <div style="text-align: center">
    <img
      src="{{imagenEmail}}"
      alt="CMAR Multimedia"
      style="text-align: center; width: 100px"
    />
  </div>
  <h3>Acceso a CMAR LIVE</h3>
  <p>Hola, {{nombre}}</p>
  <p>
    El acceso del/la hermanito(a) <b>{{hermanito}}</b> de la congregación
    <b>{{congregacion}}</b> ha sido <b>aprobado</b> hasta la fecha
    <b>{{tiempoAprobacion}}</b>.
    <p>Ahora podrá ingresar a <b>CMAR LIVE</b> y
    disfrutar de los servicios, vigilias y eventos especiales de la Congregación
    Mita.
    </p>
  </p>

  <div>
    <p
      style="
        margin: 30px 0 12px 0;
        padding: 0;
        font-family: Arial, Helvetica, 'sans-serif';
        font-weight: normal;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 12px;
        line-height: 16px;
        color: #909090;
      "
    >
      Nota: No responda a este correo electrónico. Si tiene alguna duda, por
      favor comuníquese con nosotros al correo
      <a href="mailto:cmar.live@congregacionmita.com">
        cmar.live@congregacionmita.com</a
      >.
    </p>

    <br />
    Cordialmente,
    <br />
    <b>Congregación Mita, Inc.</b>
  </div>
</div>
