<div
  style="
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, 'sans-serif';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #252525;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
  "
>
  <div style="text-align: center">
    <img
      src="{{imagenEmail}}"
      alt="CMAR Live"
      style="text-align: center; width: 100px"
    />
  </div>
  <h3>Bienvenido(a) a CMAR LIVE</h3>
  <p>Hola, {{nombre}}</p>
  <p>Nos complace darle la bienvenida al censo de la Congregación Mita.</p>

  <p><b>Número Mita:</b> {{id}}</p>

  <p>
    Si tiene alguna pregunta o necesita ayuda, no dude en ponerse en contacto
    con nosotros a través de nuestro correo electrónico:
    <a href="mailto:cmar.live@congregacionmita.org"
      >cmar.live@congregacionmita.org</a
    >.
  </p>

  <p
    style="
      margin: 30px 0 12px 0;
      padding: 0;
      color: #252525;
      font-family: Arial, Helvetica, 'sans-serif';
      font-weight: normal;
      word-wrap: break-word;
      word-break: break-word;
      font-size: 12px;
      line-height: 16px;
      color: #909090;
    "
  >
    Nota: Este es un correo electrónico automático. Por favor, no responda a
    este mensaje.
  </p>

  <br />
  Cordialmente, <br />
  <b>Congregación Mita, Inc.</b>
</div>
