<div
  style="
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #252525;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
  "
>
  <div style="text-align: center; margin-bottom: 20px">
    <img src="{{imagenEmail}}" alt="CMAR Live" style="width: 100px" />
  </div>
  <h3 style="text-align: center">Nuevo País Asignado</h3>
  <p>Hola, {{nombreObrero}}</p>
  <p>
    Nos complace informarle que se le ha asignado la congregación país.
  </p>

  <p><b>País:</b> {{nombrePais}}</p>

  <p>
    Con esta asignación, usted tendrá acceso a las funcionalidades
    correspondientes para la gestión y supervisión de las congregaciones y
    campos del país.
  </p>

  <p>
    Si tiene alguna pregunta o necesita ayuda, no dude en ponerse en contacto
    con nosotros a través de nuestro correo electrónico:
    <a href="mailto:recepcion@ootspr.org">recepcion@ootspr.org</a> o al
    WhatsApp:
    <a href="https://wa.me/17872161766" target="_blank"
      ><b>+1 (787) 216-1766</b></a
    >.
  </p>

  <p
    style="
      margin: 30px 0 12px 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 16px;
      color: #909090;
      text-align: center;
    "
  >
    Nota: Este es un correo electrónico automático. Por favor, no responda a
    este mensaje.
  </p>

  <br />
  <p style="text-align: center">
    Cordialmente, <br />
    <b>Congregación Mita, Inc.</b>
  </p>
</div>
