<div
  style="
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #252525;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
  "
>
  <div style="text-align: center; margin-bottom: 20px">
    <img
      src="{{imagenEmail}}"
      alt="CMAR Live"
      style="text-align: center; width: 100px"
    />
  </div>

  <h3
    style="
      color: #252525;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    "
  >
    Notificación de Caducidad de Acceso a CMAR LIVE
  </h3>

  <p style="margin-bottom: 16px">Estimado/a <b>{{nombre}}</b>,</p>

  <p style="margin-bottom: 16px">
    Lamentamos informarle que su solicitud para acceder a la plataforma de
    <b>CMAR LIVE</b> ha sido denegada.
  </p>

  <p style="margin-bottom: 16px"><b>Id Solicitud:</b> {{solicitudId}}</p>

  <p style="margin-bottom: 16px">
    <b>Motivo de la negación:</b> {{motivoDeNegacion}}
  </p>

  <p style="margin-bottom: 16px">
    Si tiene alguna pregunta o desea obtener más información, le invitamos a
    comunicarse directamente con la persona que le realizó la solicitud o enviar
    un correo electrónico a:
    <a href="mailto:recepcion@ootspr.org">recepcion@ootspr.org</a>.
  </p>

  <p
    style="
      margin: 30px 0 12px 0;
      padding: 0;
      color: #909090;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 16px;
    "
  >
    <b>Nota:</b> Este es un mensaje automático. Por favor, no responda a este
    correo.
  </p>

  <p style="margin-top: 30px; text-align: left">
    Atentamente, <br />
    <b>Congregación Mita, Inc.</b>
  </p>
</div>
